html {
    background-color: whitesmoke;
}
body {
/* font-family: 'Noto Sans HK', sans-serif; */
font-family: 'Signika', sans-serif;
}

input {
    font-size: large;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    margin-top: 0.25em;
}

input[type=text], input[type=email], input[type=tel]  {
    padding-left: 1em;
    padding-right: 1em;
}

input:focus {
    border-color: limegreen;
    outline: none;
}

input.invalid_input_value {
    border-style: solid;
    border-color: red;
}



.errorMsg {
    font-size: small;
    color: red;
    margin-left: 1em;
}

h3 {
    margin-left: 5em;
    text-decoration: underline;
}

#application_container {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: auto;
    
}
#header {
    text-align: center;
    text-justify: center;
    text-decoration: underline;
    margin-bottom: 3em;
}

.small_number_input {
    width: 1em;
}

.hidden {
    display: none;
}

.applicant_name {
    max-width: 10em;
}
#name_label, .income_label, label{
    font-weight: bold;
}

#income_container {
    margin-top: 1.5em;
}

.applicant_income_amt {
    width: 5em;
}

.section_button {
    margin-top: 3em;
    margin-bottom: 5em;
}


#applicant_list {
    font-size: '8px';
}

.chunk {
    display: block;
    margin-left: 10em;
}

.phone_number {
    width: 11em;
}

::placeholder {
    font-style: italic;
    opacity: 0.3;
}

#approval_submit {
    width: 20%;
   margin-left: 40%;
   margin-bottom: 10em;
}